.bg-lightblue{
	background-color: #E6F4FB;
}
#contact {
	margin-bottom: 0;
}
#contact article, #contact div {
	flex:1;
}


#contact .container {
	flex-direction: row;
	display: flex;
	padding: 6em ;
}

#contact .container > div > div {
	display: flex;
	padding-bottom: 20px;
}

#contact h3 {
	margin-top: 0;
	background: url("./images/tricolor-icon.png") no-repeat left top;
	padding-left:1.5em;
	width: 200px;
}

@media all and (max-width: 1250px) {
	#contact > article {
		flex: 2;
	}
}