// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.inline-icon {
	vertical-align: middle;
}
footer {
	background-color: #28363D;
	color: white;
	display: flex;
	padding-block: 3em;
	justify-content: space-evenly;
	font-size: 12px;
	align-items: center;
}
footer div {

	position: relative;
}
.footer-logo {
	background-color: white;
	max-width: 308px;
	padding: 10px;
}
.footer-contact {
	margin-bottom: 1em;
	font-weight: 700;
	font-size: 16px;

}