// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.container {
	max-width: 1440px;
	margin-inline:auto;
	padding-inline: 5%;
}
